/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/
html {
	box-sizing: border-box;
    font-size: 62.5%;  /*1 REM igual a 10px */
}
*, *:before, *:after {
	box-sizing: inherit;
}
body{

    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;

}
.title{
    font-size: 2rem;
    color: white;
}

.contenedorpais {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem; 
    margin: 3rem;
    
  }
  .card-img-top {
    width: 100%; /* Ajusta el ancho según tus necesidades */
    height: 200px; /* Ajusta el alto según tus necesidades */
    object-fit: cover; 
    border-radius: 1rem;
    transition: filter 0.3s ease;
  }

  .img-fluid {
    width: 100%; /* Ajusta el ancho según tus necesidades */
    height: 30rem;
    margin-top: 2rem;
    border-radius: 2rem;
  }
  /* .card-img-top:hover {
    filter: brightness(80%) hue-rotate(180deg); 
  } */
 
  .card-title{
    font-size: 4rem;
  }
 
  .twocountry:hover {
    transform: scale(1.05); /* Escala el componente al 105% */
    transition: transform 0.3s ease; /* Agrega una transición suave */
    /* background-color:#04f80c41 ; */
    color: #3949AB;
  }
  .twocountry{
    border-radius: 1rem;
  }
  .more {
    background: #3949AB;
    color: white;
    border: none;
    padding: 0.5rem 0.5rem;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 0.5rem;
  }
  
  .more:hover {
    background-color:#41B3A3;
    color:#533ce6
  }
  .datos{
    font-size: 3rem;
    font-family: 'Belanosima', sans-serif;
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: #f8f5f5;
    font-size: 20px;
    cursor: pointer;
  }

  .modal{
    background: rgba(0, 0, 255, 0.12);
  }
  .modal-content{
    background: #3949AB;
    color: white;
  }
  .bestplace{
    text-align: center;
    padding: 3rem 0rem;
    font-size: 6rem;
    font-family: 'Belanosima', sans-serif;

  }
  .bestpalcespan{
    color:#3949AB
    
  }

  
  .form-select {
    font-size: 16px; /* Ajusta el tamaño de la fuente */
    height: 40px; /* Ajusta la altura del select */
    /* margin-left: 32rem; */
    margin-bottom: 2rem;
  }
  
.datospais{
  font-size: 2.5rem;
  font-family: 'Belanosima', sans-serif;
  color:black
}
.resultpais{
  font-size: 2.5rem;
  font-family: 'Belanosima', sans-serif;
  color:#3949AB
}

.save {
  display: block; /* Hace que el botón sea un elemento de bloque */
  width: 100%; /* Ocupa todo el ancho disponible */
  margin: 0 auto; /* Centra horizontalmente el botón */
  font-size: 2rem;
  border-radius: 1rem;
}
.add {
  font-size: 16px; /* Ajusta el tamaño de la fuente */
  padding: 10px 20px; /* Ajusta el espacio interno del botón */
  margin-right: 10px; /* Establece un margen derecho para separarlo del botón adyacente */
  /* Otros estilos adicionales */
  background: #3949AB;
  color: white;
}
.delete{
  font-size: 16px; /* Ajusta el tamaño de la fuente */
  padding: 10px 20px; /* Ajusta el espacio interno del botón */
  margin-right: 10px; /* Establece un margen derecho para separarlo del botón adyacente */
  /* Otros estilos adicionales */
}
.archivos{
  font-size: 16px; /* Ajusta el tamaño de la fuente */
  padding: 10px 20px; /* Ajusta el espacio interno del botón */
  margin-right: 10px;
}

.upload{
  font-size: 16px; /* Ajusta el tamaño de la fuente */
  padding: 10px 20px; /* Ajusta el espacio interno del botón */
  margin-right: 10px;
}
.img-city{
  width: 50%; /* Ajusta el ancho según tus necesidades */
    height: 200px; /* Ajusta el alto según tus necesidades */
    border-radius: 3rem;
    transition: filter 0.3s ease;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #063df1d5;
}

.login {
  width: 300px;
  padding: 20px;
  background: #0b0ee493;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #f1eeee;
}

.login input[type="email"],
.login input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login input[type="submit"] {
  width: 100%;
  padding: 10px;
  background: #3948ab;
  border: 0;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #31427a;
}

.btn-loginx{
  width: 100%;
  background: rgb(255, 200, 0);
  font-size: 2rem;
}

.btn-loginx:hover{
 background: orange;
 color: white;

}

.ciudadimg{
  width: 100%; /* Ajusta el ancho según tus necesidades */
    height: 55rem; /* Ajusta el alto según tus necesidades */
    border-radius: 3rem;
    transition: filter 0.3s ease;

}

.cityinfo{
  margin-top: 0rem;
}

/* .heart-icon {
  color: transparent;
  stroke: black;
  stroke-width: 4rem;
  font-size: 3rem;
}
.heart-icon:hover {
  stroke: green;
  fill: green;
} */
.heart-icon {
  color: transparent;
  stroke: black;
  stroke-width: 4rem;
  font-size: 3rem;
  padding-right: 3rem;
}

.heart-icon:hover {
  fill: rgb(128, 0, 0);
  stroke: black;
  color: red
}
.iconcomment{
  color: transparent;
  stroke: black;
  stroke-width: 4rem;
  font-size: 3rem;
  padding-right: 3rem;

}
.iconcomment:hover {
  fill: rgb(128, 0, 0);
  stroke: black;
  color: green

}

.iconbroken{
  color: transparent;
  stroke: black;
  stroke-width: 4rem;
  font-size: 3rem;
  padding-right: 3rem;

}
.iconbroken:hover{
  fill: rgb(128, 0, 0);
  stroke: black;
  color: #5f48f2

}


.botones-ciudad{
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
}
.comment{
  stroke: black;
  stroke-width: 4rem;
  font-size: 3rem;
  padding-right: 2rem;
  
}

.btn-load-data {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.btn-load-data:hover {
  background-color: #45a049;
}

.btn-load-review {
  background-color: #533ce6;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.btn-load-review:hover {
  background-color: #4565a0;
}


.datosciudad{
  font-family: 'Belanosima', sans-serif;
  font-size: 3rem;
  
}

.ciudadresp{

  color:#3949AB
}

.iconoclima{
  height: 10rem;
}
.star-icon{
  color: transparent;
  stroke: black;
  stroke-width: 4rem;
  font-size: 3rem;
  padding-right: 2rem;

}

.star-icon:hover{
  fill: green;
  stroke: black;
  color: yellow;
  
}

.favoritesciudades{
  border-radius: 1rem;
  flex: 0 0 25%;
  margin-right: 1rem;

}

.favoritesciudades:hover {
  transform: scale(1.05); /* Escala el componente al 105% */
  transition: transform 0.3s ease; /* Agrega una transición suave */
  /* background-color:#04f80c41 ; */ 
}
.fondociudades{
  background: blue

}

/* .contenedorciudad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem; 
  margin: 5rem;
  background: #45a049;
  padding: 4rem;
  
} */

/* .contenedorciudad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin: 5rem;
  background: #45a049;
  padding: 4rem;
  overflow-x: auto;
} */

.contenedorciudad {
  display: flex;
  flex-wrap: nowrap;
  margin: 5rem;
  background: #3949AB;
  padding: 5rem;
  overflow-x: auto;
  border-radius: 1rem;
  margin-top: 0rem;

}

.iconcities{

  color: transparent;
  stroke: black;
  stroke-width: 4rem;
  font-size: 3rem;
  padding-right: 3rem;
}
.iconcities:hover {
  fill: rgb(128, 0, 0);
  stroke: black;
  color: #48f2ea

}

.baner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 55rem;
  width: 100%; /* Agrega esta propiedad para asegurar que ocupe todo el ancho */
  padding: 2rem;
  border-radius: 4rem;
  
}






/* CSS para el componente Buscador */
.buscador-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8rem;
  left: 0;
  width: 100%;
  height: 100%;
}

.buscador-content {
  /* Ajusta los valores de padding y margin según sea necesario para aumentar el tamaño del contenedor del buscador */
  padding: 2rem;
  margin: 2rem;
  border-radius: 1rem;
  /* background-color: rgba(255, 255, 255, 0.636);  */
}



/* CSS para la imagen .baner */
.baner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 55rem;
  width: 100%;
  padding: 2rem;
  border-radius: 4rem;
  position: relative;
}
.barrabuscador{
  width: 80rem;
}

.barrabuscador input{
  height: 8rem;
  border-radius: 2rem;
  font-size: 2rem;
  
}
.botonbuscador{
  height: 5rem;
  border-radius: 2rem;
  font-size: 2rem;
  margin-top: 1rem;

}
.contenidobuscador{
  color: white;
  font-size: 3rem;
}

.textareacoment{
 height: 20rem;
 font-size: 5rem;
 border-radius: 2rem;
}
.textuser{
  font-size: 1.5rem;
}
.header-comment{
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-family: 'Belanosima', sans-serif;
  
}
.namecommentcountry {
  font-size: 6rem;
}
.namecommentcity {
  font-size: 3rem;
  color :#3949AB
}
.postcomment{
  font-size: 2rem;
  border-radius: 1rem;  
  margin-bottom: 2rem;
}
.textcommentuser{
  border-radius: 1rem;
}
.footer {
  background: #3949AB;
  color: white;
}
.copyright {
  margin-top: 4rem;
}
.ciudadesfavoritasporusuario img {
  height: 30rem;
  width: 65rem;
  border-radius: 2rem;
  margin-right: 5rem;
}